{% ckan_extends %}

{# Anja 27.10.2016: Change Comments #}

  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
        A Dataset or datapackage is a collection of data resources (e.g.csv files), together with Metadata information.
          {% endtrans %}
        </p>
      </div>
    </section>
    <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are Metadata?') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
        For automated searchability and exchange ("Harvesting") various profiles of Metadata elements are implemented.
        The MD elements are based on <a href="https://www.iso.org/obp/ui/#iso:std:iso:19115:-1:ed-1:v1:en" target="_blank">
        ISO19115</a>  standard.
        {% endtrans %}

      </p>
    </div>
  </section>
  <section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Which formats (Profiles) does the CCCA support?') }}</h2>
  <div class="module-content">
    <p>
      {% trans %}
    The CCCA MD Editor 1.0 supports the INSPIRE mapping, further profiles, e.g. WMO, DCAT will follow.
    On every Metadata element you will find information about the corresponding
    ISO and INSPIRE Elements including obligation information
    (<b>m</b>andatory, <b>o</b>ptional, <b>c</b>onditional).
          {% endtrans %}
    </p>
  </div>
</section>
<section class="module module-narrow module-shallow">
<h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Do I have to provide all information?') }}</h2>
<div class="module-content">
  <p>
    {% trans %}
    For your convenience the CCCA supports as well a minmal amount of information about your resources
    in order to upload and store them on the CCCA server (corresponding fields are marked <font color="red">*</font>).
    However, we like to point out that the standard conformity of the Metadata  regarding your resources ensures standardised searchability and linkage.
    {% endtrans %}

  </p>
</div>
</section>
{% endblock %}
