{%- set list_dicts = data[field.field_name] -%}
{% if list_dicts|length > 0 %}
  <ul>
    {% for dict in list_dicts %}
      {% if dict and dict is mapping %}
          <li>
            {{_('Description:')}}
             &nbsp;
            {{ dict['description'] }} <br>
            {{_('Shape:')}}
             &nbsp;
            {{ dict['shape'] }} <br>
            {{_('Units:')}}
            &nbsp;
           {{ dict['units'] }} <br>
            {{_('Name:')}}
            &nbsp;
            {{ dict['name']}} <br>
            {{_('Standard Name:')}}
            &nbsp;
            {{ dict['standard_name'] }} <br>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  -
{% endif %}
