{%- set list_dicts = data[field.field_name] -%}
{% if list_dicts|length > 0 %}
    {% for dict in list_dicts %}
      {% if dict and dict is mapping %}


        {% if dict['description'] %}
          {% set label = dict['description'] %}
          {% set name = dict['description'] | replace (' ','-')%}
        {% elif dict['name'] %}
          {% set label = dict['name'] %}
          {% set name = dict['name'] | replace (' ','-')%}
        {% elif dict['standard_name'] %}
          {% set label = dict['standard_name'] %}
          {% set name = dict['standard_name'] | replace (' ','-')%}
        {% elif  dict['shape']  %}
         {% set label = dict['shape']%}
         {% set name = dict['shape'] | replace (' ','-')%}
       {% elif  dict['units']  %}
          {% set label = dict['units']%}
          {% set name = dict['untis'] | replace (' ','-')%}
        {% endif %}


        <h3 class="btn" data-toggle="collapse" data-trigger="focus"  data-target="#vars-{{ name }}">{{label}} </h3>
        <div id="vars-{{ name }}" class="collapse">
          <br>
          &nbsp;
          {{_(' Name:')}}
           &nbsp;
          {{ dict['name'] }} <br>
            &nbsp;
            {{_(' Description:')}}
             &nbsp;
            {{ dict['description'] }} <br>
            &nbsp;
            {{_(' Shape:')}}
             &nbsp;
            {{ dict['shape'] }} <br>
            &nbsp;
            {{_(' Units:')}}
            &nbsp;
           {{ dict['units'] }} <br>
           &nbsp;
            {{_(' Standard Name:')}}
            &nbsp;
            {{ dict['standard_name'] }} <br>
      </div>
      <br>
      {% endif %}
    {% endfor %}
{% else %}
  -
{% endif %}
