/*
.hero{
  background: url("Background_DataServer.png") ;
}
.hero { background: white; }
*/
.mdedit_dz_mail_to{
  color: white;
  font-style: italic;
}

.account-masthead {
    background-color: rgb(40, 40, 40);
}
.icon_norm_info{

}
.mdedit_control-small input,
.mdedit_control-small .control-label {
  font-size:  12.5px;
  line-height: 20px;
}
.mdedit_control-small input {
  height: 31px;
}
.form-horizontal .info-block a {
/*  color: #2f9b45; */
  text-decoration: none;
}
.mdedit_ph_small {
  font-size: 13.4px;
}
.popover {
  word-break:keep-all;
  width:auto;
}
.popover-content {
  word-break:keep-all;
  width:auto;
}
.popover.fade.right.in {
  width:auto;
  max-width:100%;
}
.ccca-alarm{
  color:red;
}
/* für green.css! */
