{# Anja 10.11  Copied from CKAN with modifications #}

{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h3 class="page-heading">{{ _("Welcome to the CCCA Datacenter") }}</h3>
      <p>
        {% trans %} Explore our possibilities:
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("Data, Images, Graphs.") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="/dataset">
          <img src="/CCCA_Start_Image.gif" alt="Featured image"  width="472" height="440" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
