{# Anja: 2.11.2016 modified from scheming to include tabs #}
{# Anja: 16.11.2016 modified to include package extras #}


{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    ] -%}

{% set mdedit_tags = pkg_dict.tags %}
{% set mdedit_num_tags = pkg_dict.num_tags %}
{% set extras = pkg_dict.extras %}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name == "tab_delimiter" -%}

          </tbody>
          </table>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th scope="col"><i>{{ field.tab_delimiter}}</i></th>
              </tr>
            </thead>
            <tbody>

    {%- elif field.field_name not in exclude_fields
        and field.display_snippet is not none
        and field.field_name != "owner_org"
        and field.field_name != "tag_string"
        and field.field_name != "notes"
    -%}
          <tr>
            <th scope="row" class="dataset-label">
              {{ h.scheming_language_text(field.label) }}</th>
            <td class="dataset-details"{%
              if field.display_property %} property="{{ field.display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=field, data=pkg_dict, schema=schema -%}</td>
          </tr>
    {%- endif -%}
    {%- if field.field_name == "license_id" -%}
        <tr>
          <th scope="row" class="dataset-label">Visibility</th>
          <td class="dataset-details">
        {%- if pkg_dict.private -%}
              private
           {%- else %}
              public
          {%- endif -%}
           </td>
       </tr>
    {%- endif -%}

    {%- if field.field_name == "owner_org" -%}
          <tr>
            <th scope="row" class="dataset-label">
            {{ h.scheming_language_text(field.label) }}</th>
            <td class="dataset-details">
            {%- if pkg_dict.organization -%}
                 {{c.pkg_dict.organization.title}}
            {%- else %}
                None assigned
           {%- endif -%}
            </td>
        </tr>
    {%- endif -%}
    {%- if field.field_name == "notes" -%}
          <tr>
            <th scope="row" class="dataset-label">
              {{ h.scheming_language_text(field.label) }}
           </th>
            <td class="dataset-details">
            {%- if field.field_value is not none -%}
                see above
            {%- endif -%}
            </td>
        </tr>
    {%- endif -%}

    {%- if field.field_name == "tag_string" -%}
          <tr>
            <th scope="row" class="dataset-label">
            {{  h.scheming_language_text(field.label) }}
           </th>
            <td class="dataset-details">
            {%- for mytag  in mdedit_tags -%}
               {%- if loop.index < mdedit_num_tags -%}
                    {{ mdedit_tags[loop.index0].name }},
                {%- else %}
                    {{ mdedit_tags[loop.index0].name }}
                {%- endif -%}
              {%- endfor -%}
            </td>
        </tr>
    {%- endif -%}

  {%- endfor -%}

  {% block extras scoped %}
    {%- if extras -%}
      <tr>
        <th scope="row" class="dataset-label ccca-alarm" property="rdfs:label">ATTENTION</th>
        <td class="dataset-details" property="rdf:value">Extra non-standard metadata fields found in your dataset.
          Please select
  {% link_for _('Manage'), controller='package', action='edit', id=pkg_dict.name, class_='btn', icon='wrench' %}
        to copy the values in the corresponding fields
        </td>
      </tr>
    {%- endif -%}

    {% for extra in h.sorted_extras(pkg_dict.extras) %}
      {% set key, value = extra %}
      <tr rel="dc:relation" resource="_:extra{{ i }}">
        <th scope="row" class="dataset-label ccca-alarm" property="rdfs:label">{{ _(key) }}</th>
        <td class="dataset-details" property="rdf:value">{{ value }}</td>
      </tr>
    {% endfor %}
  {% endblock %}


{% endblock %}
