{# Anja 27.10.2016: Changed and adapted from scheming #}

{% ckan_extends %}

{% block errors %}
  {%- if errors -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- snippet 'scheming/snippets/errors.html',
      errors=errors, fields=schema.dataset_fields,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endif -%}
{% endblock %}

{% block basic_fields %}

  {# Anja 20.10. Bug for Tabs/pills hash in url #}
  {% resource 'mdedit/mdedit_navpills.js' %}

  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}


  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

  <noscript><br><p class="badge badge-important">!!! Please enable JavaScript in your Browser Settings !!!<br></p></noscript>

  {# find delimters and headers for Tabs #}
  <header class="module-content page-header mdedit_ph_small">
  {%- for field in schema.dataset_fields -%}
     {%- if loop.first and field.field_name == "tab_delimiter" -%}
        {%- if field.necessary -%}
         <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#{{field.tab_delimiter}}"  data-html="true"><i style="color:red;">* </i>{{field.tab_delimiter}}</a></li>
        {%- else -%}
      <ul class="nav nav-pills">
         <li class="active"><a data-toggle="pill" href="#{{field.tab_delimiter}}"   data-html="true">{{field.tab_delimiter}}</a></li>
        {%- endif -%}

    {%- endif -%}

    {%- if not loop.first and field.field_name == "tab_delimiter"-%}

       {%- if field.necessary -%}
        <li><a data-toggle="pill" data-html="true" href="#{{field.tab_delimiter}}" id="mdedit_tab_fix"><i style="color:red;">* </i>{{field.tab_delimiter}}</a></li>
       {%- else  -%}
        <li><a data-toggle="pill" data-html="true" href="#{{field.tab_delimiter}}" id="mdedit_tab_fix">{{field.tab_delimiter}}</a></li>
       {%- endif -%}
    {%- endif -%}

  {%- endfor -%}

  {# Now manage the fields #}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name == "tab_delimiter" and loop.first -%}
        </ul>
        </header>
       <div class="pill-content">
        <div id="{{field.tab_delimiter}}" class="pill-pane fade in active">
          <br>
         <h3>{{field.title}}</h3>
          <br>  <br>
    {%- elif  field.field_name == "tab_delimiter" and not loop.first -%}
        </div>
        <div id="{{field.tab_delimiter}}" class="pill-pane fade">
            <br>
              <h3>{{field.title}}</h3>
          <br>  <br>
    {%- elif  field.field_name == "close_group" -%}

      {# Sometimes we need to explicitely close a group
        .ie. if a special contains-field is within a group #}

        </div>

    {%- elif field.form_snippet is not none -%}

        {# check grouping of fields #}

         {%if field.group_start %}
            {%if field.required %}
            <div class="well well-small"> <p><h4><i style="color:red;">* </i> {{field.group_start}}</h4></p>
            {% else %}
            <div class="well well-small"> <p><h4>{{field.group_start}}</h4>
            {% endif %}
         {% endif %}
         {%if field.group_small_start %}
            {%if field.required %}
            <div class="well well-small"> <p><h5><i style="color:red;">* </i> {{field.group_small_start}}</h5></p>
            {% else %}
            <div class="well well-small"> <p><h5>{{field.group_small_start}}</h5>
            {% endif %}
         {% endif %}

        {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}

        {#   Close groups #}

        {%if field.group_end %}
           </div>
        {% endif %}
        {%if field.group_small_end %}
           </div>
        {% endif %}

    {%- endif -%}

  {%- endfor -%}

  {%- if schema.dataset_fields[0].field_name == "tab_delimiter" -%}
        </div>
      </div>
  {%- endif -%}

  {# Anja 16.11.16  #}

  {# Attention: Only non-scheming fields can be seen here in extras! #}
  {# Therfore here we have harvested data #}
  {# Provide Possibility to save them  #}
  {#{{ key }} :    {{ value }} <br> #}
  {% set extras = c.pkg_dict.extras %}
  {%  set mdedit_pkg_url = h.full_current_url() %}
  {% if extras %}
  <p class="badge badge-important">!!! This dataset contains extra fields! !!!
    <br> Probably the dataset was harvested. This is great :-)
    <br> However, some field-names apparently did not match standardised field-names
    <br> and thus an automatic import to our server was impossible.
    <br> For your convenience you see the unimported fields below.
    <br>
    <br> If you are uncertain about this message and further procedure
    <br> feel free to contact us:
    {{h.mail_to(_('datenzentrum@ccca.ac.at'),_('datenzentrum@ccca.ac.at'), None,None, _('(harvested) Dataset contains non-standardised fields'), mdedit_pkg_url, class='mdedit_dz_mail_to')}}.

  </p>
    {% import 'macros/form.html' as form %}

    {% for extra in h.sorted_extras(extras) %}
      {% set key, value = extra %}
      {% call form.input(
          key,
          id='field-' + key,
          label=h.scheming_language_text(key),
          placeholder=value,
          value=value,
          error=errors[jkey],
          classes=['control-medium ccca-alarm'],
          attrs={}
          )
      %}
      {% endcall %}
    {% endfor %}

  {%- endif -%}

  {%- if 'resource_fields' not in schema -%}
      <!-- force controller to skip resource-editing step for this type -->
      <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}
{% endblock %}

{% block metadata_fields %}
{% endblock %}
