{% resource 'mdedit/mdedit_dicts.js' %}
{% import 'macros/form.html' as form %}

{% set list_dicts = data[field.field_name] %} 
{% set form_attrs = field.form_attrs %} 


<div class="well well-small"> <p><h5>{{field.label}}</h5>

  {# Check if there are any entries in the list #}
  {% if list_dicts|length > 0 %}

    <fieldset id="fs-{{ field.field_name }}">
      {% for dict in list_dicts %}
        {# There must be a dict in the list #}
        {% if dict is mapping %}
          {% set list_index = loop.index0 %} 
          {# Build collapse form with panels #}
          {% if form_attrs.style|string == "collapse" %}
            <div id="{{ field.field_name + list_index|string }}" class="well well-small inp-{{ field.field_name }}">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                      <a>{{ dict[form_attrs.heading] }}</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in">
                  <div class="panel-body">
                    {% for form_attrs_fields in form_attrs.fields %}
                      {% call form.input(
                        field.field_name + '-' + form_attrs_fields['field_id'],
                        id=field.field_name + '-' + form_attrs_fields['field_id'],
                        label=h.scheming_language_text(form_attrs_fields['field_label']),
                        placeholder=h.scheming_language_text(field.form_placeholder),
                        value=dict[form_attrs_fields['field_id']],
                        error=errors[field.field_name],
                        classes=field.classes if 'classes' in field else ['control-medium'],
                        attrs=field.form_attrs if 'form_attrs' in field else {"class": "form-control"},
                        is_required=h.scheming_field_required(field)
                        )
                      %}
                      {% endcall %}
                    {% endfor %}
                    {% if list_index > 0 %}
                      <a href="#" class="rm-{{ field.field_name }}">Remove</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

          {# Build text form with normal input fields #}
          {% else %} 
            <div id="{{ field.field_name + list_index|string }}" class="well well-small inp-{{ field.field_name }}">
              {% for form_attrs_fields in form_attrs.fields %}
                {% call form.input(
                  field.field_name + '-' + form_attrs_fields['field_id'],
                  id=field.field_name + '-' + form_attrs_fields['field_id'],
                  label=h.scheming_language_text(form_attrs_fields['field_label']),
                  placeholder=h.scheming_language_text(field.form_placeholder),
                  value=dict[form_attrs_fields['field_id']],
                  error=errors[field.field_name],
                  classes=field.classes if 'classes' in field else ['control-medium'],
                  attrs=field.form_attrs if 'form_attrs' in field else {"class": "form-control"},
                  is_required=h.scheming_field_required(field)
                  )
                %}
                {% endcall %}
              {% endfor %}
              {% if list_index > 0 %}
                <a href="#" class="rm-{{ field.field_name }}">Remove</a>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    </fieldset>
    <button id="add-{{ field.field_name }}" class="btn btn-success" type="button" 
      data-module="mdedit_dicts"
      data-module-field_name="{{field.field_name}}" 
      data-module-field_dict="{{ h.dump_json(field.form_attrs) }}">
      Add field
    </button>

  {# There were no entries in the list #}
  {% else %}
    <fieldset id="fs-{{ field.field_name }}">
     <div id="{{ field.field_name + 0|string }}" class="inp-{{ field.field_name }}">
      {% for dict in form_attrs.fields %}
        {% if dict is mapping %}
          {% set list_index = loop.index0 %} 
          {% call form.input(
              dict['field_id'],
              id=field.field_name +dict['field_id'],
              label=h.scheming_language_text(dict['field_label']),
              placeholder=h.scheming_language_text(field.form_placeholder),
              value='',
              error=errors[field.field_name],
              classes=field.classes if 'classes' in field else ['control-medium'],
              attrs=field.form_attrs if 'form_attrs' in field else {"class": "form-control"},
              is_required=h.scheming_field_required(field)
              )
          %}
          {% endcall %}
        {% endif %}
      {% endfor %}
    </div>
    </fieldset>
    <button id="add-{{ field.field_name }}" class="btn btn-success" type="button" 
      data-module="mdedit_dicts"
      data-module-field_name="{{field.field_name}}" 
      data-module-field_dict="{{ h.dump_json(field.form_attrs) }}">
      Add field
    </button>
  {% endif %}

</div>
