{% resource 'mdedit/mdedit_create_input.js' %}

{# do not change str_sep: in mdedit_create_input again #}

{% set str_sep = '#' %}
{% set white_space = '~' %}
{% set test = pkg_dict %}

{%- if not values -%}
  {% set values = h.mdedit_get_contain_values_k(data, field) %}
{%- endif -%}

{% set labels = h.mdedit_get_contain_labels(field) %}
{% set pholders = h.mdedit_get_contain_pholders(field) %}

{%- set options=[] -%}

{%- for c in field.choices -%}
    {%- do options.append(c.value) -%}
		{%-	do options.append(h.scheming_language_text(c.label)) -%}
{%- endfor -%}

{%- if options|length > 0 -%}

	{%- set stroptions = options|join(str_sep) -%}
	{# for some reasons or other javascript does not like whitespaces: replace with 'white_space' #}
	{# will be removed in mdedit_create_input again #}
	{%- set stroptions = stroptions|replace(' ', white_space) -%}

{%- else -%}

	{%- set stroptions = ' ' -%}

{%- endif -%}

{%if field.required %}
<div  class="well well-small"> <p><h5><i style="color:red;">* </i> {{field.label}}</h5></p>
{% else %}
<div  class="well well-small"> <p><h5>{{field.label}}</h5>
{% endif %}
{# --  when clicking the add button, it calls the create_input.js and creates additional inputs--#}


<div id="field_contains" class="input-append">
	{# Do not delete! Here we see the fields and buttons !#}
</div>

{% set num_contains = field.contains|int+1 %}

<p><button id="md_addbtn" data-module="mdedit_create_input"  class="btn btn-success" type="button"
		data-module-field_name={{field.field_name}}
		data-module-origin="button"
		data-module-count={{field.contains}}
		data-module-strsep={{str_sep}}
		data-module-whitespace = {{white_space}}
		{% for i in range(1,num_contains) %}
				data-module-field{{loop.index}}=""
				data-module-label{{loop.index}}="{{ labels[loop.index0] }}"
				data-module-pholder{{loop.index}}="{{ pholders[loop.index0]}}"
				{% if i == num_contains - 1 %}
					data-module-stroptions="{{stroptions}}"
				{% endif %}
		{% endfor %}
	>+</button></p>
<br><br>
{# -- Check for existing inputs --#}

{% for value in values %}
		<div type="text" disabled="disabled" style="display: none;"
		data-module-origin="input"
		data-module="mdedit_create_input"
		data-module-count={{field.contains}}
		data-module-field_name={{field.field_name}}
		data-module-strsep={{str_sep}}
		data-module-whitespace = {{white_space}}
		{% set nameloop = loop %}
    	data-module-field1="{{ value['name'] |empty_and_escape}}"
        data-module-field2="{{ value['department'] |empty_and_escape}}"
        data-module-field3="{{ value['email'] |empty_and_escape}}"
        data-module-field4="{{ value['role'] |empty_and_escape}}"
        {% for i in range(1,num_contains) %}
				data-module-label{{loop.index}}="{{ labels[loop.index0] }}"
				data-module-pholder{{loop.index}}="{{ pholders[loop.index0]}}"
				{% if i == num_contains - 1 %}
					data-module-stroptions={{stroptions}}
				{% endif %}
		{% endfor %}
	>
</div>

{% endfor %}


{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
</div>
