{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}

{# Anja 3.11.2016 #}
{# Copied from  scheming; changed order of Public and Private in order to get Public as default #}
{# 9.11: Added help_text for visibility #}
{# Anja 3.11.2016 #}


{% macro organization_option_tag(organization, selected_org) %}
  {% block organization_option scoped %}
    <option value="{{ organization.id }}"{%
      if selected_org %} selected="selected"{% endif
      %}>{{ organization.display_name }}</option>
  {% endblock %}
{% endmacro %}

  <div data-module="dataset-visibility">
  {% snippet "scheming/form_snippets/_organization_select.html",
    field=field,
    data=data,
    errors=errors,
    organizations_available=h.organizations_available('create_dataset'),
    org_required=not h.check_config_permission('create_unowned_dataset')
      or h.scheming_field_required(field),
    organization_option_tag=organization_option_tag %}

  {% block package_metadata_fields_visibility %}
    <div class="control-group">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        {% if data.private == false %}
            <input value="public" readonly="readonly" type="text" class="form-control"/>
        {% else %}
            <select id="field-private" name="private" class="form-control">
              {% for option in [('True', _('Private')), ('False', _('Public'))] %}
              <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
              {% endfor %}
            </select>
        {% endif %}
      </div>
      {# Help Text for Visibility  # Anja, 9.11.2016 #}
      <div class="helptip pull-right">
          <i class="icon-question-sign icon-2x"></i>
          <span class="helptiptext">
          Server operation variable: Shall your dataset be visible to others? (default: no! - private) <br>
          <b>Attention:</b> Once set public it cannot be set private again nor can it be deleted!
          </span>
     </div>
    </div>
  {% endblock %}
  </div>
