{% import 'macros/form.html' as form %}
  <div id="field_group" class="well well-small"> <p><h4>{{field.group_name}}</h4></p>
{% set mdedit_field_name = field.field_name  +'_' + field.one %}
<br>

<button id="addbtn" data-module="mdedit_create_input" data-module-field="button" class="btn btn-success" type="button">+</button>
                        <div id="{{field.group_name}}"></div>

    {% call form.input(
        name= mdedit_field_name ,
        id='field-' + mdedit_field_name,
        label=h.scheming_language_text(field.one),
        placeholder='joe@example.de',
        value=data.get(mdedit_field_name, '') if data.get(mdedit_field_name, '') else h.mdedit_get_name(),
        error=errors[mdedit_field_name],
        classes=['control-medium'],
        attrs=field.form_attrs if 'form_attrs' in field else {},
        is_required=h.scheming_field_required(field)
        )
    %}
    {% endcall %}


{% set mdedit_field_name = field.field_name  +'_' + field.two %}

    {% call form.input(
        name= mdedit_field_name,
        id='field-' + mdedit_field_name,
        label=h.scheming_language_text(field.two),
        placeholder='joe@example.de',
        value=data.get(mdedit_field_name, '').split()[0] if data.get(mdedit_field_name, '').split()[0] else h.mdedit_get_mail(),
        error=errors[mdedit_field_name],
        classes=['control-medium'],
        attrs=field.form_attrs if 'form_attrs' in field else {},
        is_required=h.scheming_field_required(field)
        )
    %}
    {% endcall %}

{% set mdedit_field_name = field.field_name  +'_' + field.three %}

    {%- set options=[] -%}

    {%- for c in field.choices -%}
        {%- do options.append({
            'value': c.value,
            'text': h.scheming_language_text(c.label)}) -%}
    {%- endfor -%}

    {% call form.select(
        mdedit_field_name,
        id='field-' + mdedit_field_name,
        label=h.scheming_language_text(field.three),
        options=options,
        selected=data[mdedit_field_name],
        error=errors[mdedit_field_name],
        classes=['control-medium'],
        attrs=field.form_attrs if 'form_attrs' in field else {},
        is_required=h.scheming_field_required(field)
        )
    %}
    {% endcall %}

    <br><br>
    {% set link = '' %}
        {% set name = '' %}
        {% if names|length > 0 %}
          {% set link = urls[0] %}
          {% set name = imgs[0] %}
        {% endif %}
    {% for name in names %}
    	{% if loop.index != 1 %}
    		<input type="text" disabled="disabled" style="display: none;"
        data-module="mdedit_create_input"
        data-module-field1="{{ field }}"
        data-module-field2="{{ imgs[loop.index-1] }}"
        data-module-field3="{{ imgs[loop.index-1] }}"></input>
    	{% endif %}
    {% endfor %}


  </div>
{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
